/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
body {
    font-family: 'Mooli', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 18px; /* Tamaño base de la fuente */
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
  /*  background-color: #D9EDDF;*/
    background-color: #eeeeee; /* Fondo gris claro para el encabezado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.menu-left h2 {
    /*color: #6F9B7A;*/
    color: #333; /* Texto en gris oscuro */
    margin: 0;
    font-size: 50px; /* Tamaño del título */
    text-align: center;
}

#inicio{
    color: #02340e;
    margin-left: 10px;
    font-size: 20px; /* Tamaño del título */
    text-align:right;
    text-decoration: none; /* Elimina el subrayado del texto */
}

/* Cuadros de comida */
.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.food-item {
   /* background-color: #F2FCF4;*/
   background-color: #F5F5F5; /* Fondo gris claro para los cuadros de comida */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
   /* border: 2px solid #2ecc71;*/
    border: 2px solid #333; /* Fondo gris oscuro para el pie de página */
    transition: transform 0.3s ease; /* Agregar transición suave */
}

.food-item img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
}

.food-item h3 {
    
    font-size: 20px; /* Tamaño del título de la comida */
    margin-top: 10px;
}

/* Estilos del pie de página */
.green-footer {
    /*background-color: #2ecc71;
    color: #ffffff;*/
    background-color: #333; /* Fondo gris oscuro para el pie de página */
    color: #FFFFFF; /* Texto en blanco para el pie de página */
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el texto de derechos reservados */
.green-footer p {
    margin: 0;
}

/* Botón "Ver más" */
.btn-ver-mas {
    background-color: transparent;
    font-weight: semibold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5em .5rem 1rem #ccc, -.5em -.5rem 1rem #fff;
    text-decoration: none; /* Elimina el subrayado del texto */
}

.btn-ver-mas:hover {
    box-shadow: .5em .5rem 1rem #fff, -.5em -.5rem 1rem #ccc;
}

.btn-ver-mas:active {
    box-shadow: inset .2rem .2rem 1rem #fff, inset -.2rem -.2rem 1rem #ccc;
}



.food-item:hover {
    transform: scale(1.05); /* Cambiar el tamaño al pasar el cursor */
}

#modo-oscuro-btn {
    background-color: transparent;
    font-weight: semibold;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5em .5rem 1rem #ccc,
      -.5em -.5rem 1rem #fff;
    position: absolute; /* Establecer posición absoluta */
    top: 20px; /* Ajustar la distancia desde la parte superior */
    right: 20px; /* Ajustar la distancia desde la derecha */
}

#modo-oscuro-btn:hover {
    box-shadow: .5em .5rem 1rem #fff, -.5em -.5rem 1rem #ccc;
}

#modo-oscuro-btn:active {
    box-shadow: inset .2rem .2rem 1rem #fff, inset -.2rem -.2rem 1rem #ccc;
}

/* Estilos para el modo oscuro */
body.modo-oscuro {
    background-color: #333333;
    color: #FFFFFF;
}


/* Estilos para los cuadros en modo oscuro */
body.modo-oscuro .food-item {
    background-color: #666666;
    color: #FFFFFF;
}

body.modo-oscuro header {
    background-color: #666666;
    color: #FFFFFF;
}
body.modo-oscuro .btn-ver-mas{
    color: #FFFFFF;
}
body.modo-oscuro #modo-oscuro-btn{
    color: #FFFFFF;
}
body.modo-oscuro .menu-left h2{ 
    color: #FFFFFF;
}

/* Estilos para el botón en pantallas medianas */
@media (max-width: 768px) {
    #modo-oscuro-btn {
        font-size: 0.8rem; /* Reducir el tamaño de la fuente */
        padding: 0.8rem 1rem; /* Reducir el espacio interno del botón */
    }
}

/* Estilos para el botón en pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    #modo-oscuro-btn {
        font-size: 0.7rem; /* Reducir aún más el tamaño de la fuente */
        padding: 0.7rem 0.9rem; /* Reducir el espacio interno del botón */
    }
}